body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    position: relative;
    display: inline-block;
}

#table-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Keep the table above the SVG */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
}
  
  
.a1 { fill: #ff0000; } /* ярко-красный */
.a2 { fill: #ff4500; } /* оранжевый */
.a3 { fill: #ffff00; } /* желтый */
.a4 { fill: #00ff00; } /* ярко-зеленый */
.a5 { fill: #0000ff; } /* синий */
.a6 { fill: #4b0082; } /* индиго */
.a7 { fill: #ee82ee; } /* фиолетовый */
.a8 { fill: #ffc0cb; } /* розовый */
.a9 { fill: #ffa500; } /* ярко-оранжевый */
.a10 { fill: #ff69b4; } /* розовый */
.a11 { fill: #ff1493; } /* розовый */
.a12 { fill: #008000; } /* зеленый */
.a13 { fill: #ff00ff; } /* ярко-фиолетовый */
.a14 { fill: #800080; } /* фиолетовый */
.a15 { fill: #00ff7f; } /* ярко-зеленый */
.a16 { fill: #1e90ff; } /* голубой */
.a17 { fill: #ff6347; } /* красный */
.a18 { fill: #a52a2a; } /* коричневый */
.a19 { fill: #ffd700; } /* золотой */
.a20 { fill: #9400d3; } /* фиолетовый */
.a21 { fill: #fa8072; } /* светло-красный */
.a22 { fill: #00bfff; } /* ярко-голубой */
.a23 { fill: #6b8e23; } /* зеленовато-коричневый */
.a24 { fill: #20b2aa; } /* светло-бирюзовый */
.a25 { fill: #f08080; } /* светло-красный */
.a26 { fill: #008080; } /* темно-бирюзовый */
.a27 { fill: #00fa9a; } /* мятный */
.a28 { fill: #ff8c00; } /* темно-оранжевый */
.a29 { fill: #b22222; } /* темно-красный */
.a30 { fill: #4682b4; } /* стальной */
.a31 { fill: #9932cc; } /* темно-фиолетовый */
.a32 { fill: #8b0000; } /* темно-красный */
.a33 { fill: #40e0d0; } /* туркоиз */
.a34 { fill: #556b2f; } /* темный оливковый */
.a35 { fill: #ff0000; } /* ярко-красный */
.a36 { fill: #ff4500; } /* оранжевый */
.a37 { fill: #ffff00; } /* желтый */
.a38 { fill: #00ff00; } /* ярко-зеленый */
.a39 { fill: #0000ff; } /* синий */
.a40 { fill: #4b0082; } /* индиго */
.a41 { fill: #ee82ee; } /* фиолетовый */
.a42 { fill: #ffc0cb; } /* розовый */
.a43 { fill: #ffa500; } /* ярко-оранжевый */
.a44 { fill: #ff69b4; } /* розовый */
.a45 { fill: #ff1493; } /* розовый */
.a46 { fill: #008000; } /* зеленый */
.a47 { fill: #ff00ff; } /* ярко-фиолетовый */
.a48 { fill: #800080; } /* фиолетовый */
.a49 { fill: #00ff7f; } /* ярко-зеленый */
.a50 { fill: #1e90ff; } /* голубой */
.a51 { fill: #47f0ff; } /* красный */
.a52 { fill: #a52a2a; } /* коричневый */
.a53 { fill: #ffd700; } /* золотой */
.a54 { fill: #9400d3; } /* фиолетовый */
.a55 { fill: #fa72f8; } /* светло-красный */
.a56 { fill: #00bfff; } /* ярко-голубой */
.a57 { fill: #6b8e23; } /* зеленовато-коричневый */
.a58 { fill: #20b2aa; } /* светло-бирюзовый */
.a59 { fill: #f08080; } /* светло-красный */
.a60 { fill: #008080; } /* темно-бирюзовый */
.a61 { fill: #00fa9a; } /* мятный */
.a62 { fill: #ff8c00; } /* темно-оранжевый */
.a63 { fill: #b22222; } /* темно-красный */
.a64 { fill: #4682b4; } /* стальной */
.a65 { fill: #9932cc; } /* темно-фиолетовый */
.a66 { fill: #8b0000; } /* темно-красный */
.a67 { fill: #40e0d0; } /* туркоиз */
.a68 { fill: #556b2f; } /* темный оливковый */
.a69 { fill: #ffd700; } /* золотой */
.a70 { fill: #9400d3; } /* фиолетовый */
.a71 { fill: #fa72f8; } /* светло-красный */
.a72 { fill: #00bfff; } /* ярко-голубой */
.a73 { fill: #6b8e23; } /* зеленовато-коричневый */
.a74 { fill: #20b2aa; } /* светло-бирюзовый */
.a75 { fill: #f08080; } /* светло-красный */
.a76 { fill: #008080; } /* темно-бирюзовый */
.a77 { fill: #00fa9a; } /* мятный */
.a78 { fill: #ff8c00; } /* темно-оранжевый */
.a79 { fill: #b22222; } /* темно-красный */
.a80 { fill: #4682b4; } /* стальной */
.a81 { fill: #9932cc; }
.a82 { fill: #ff0000; } /* ярко-красный */
.a83 { fill: #ff4500; } /* оранжевый */
.a84 { fill: #ffff00; } /* желтый */
.a85 { fill: #ffd700; } /* золотой */

path.selected {
    transition: fill 0.3s ease;
    fill: #33ff33;
}